@import url('https://fonts.googleapis.com/css2?family=Economica:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

body {
  font-family: sans-serif;
  background-color: #e6e6ea;
  color: #002366;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  margin-bottom: 0;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.header {
  background-color: #002366;
}

h4,
h3,
h2 {
  font-size: 24px;
  font-family: 'Economica', sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: white;
  padding: 8px;
}

h4 {
  font-size: 24px;
  margin-bottom: 0;
}

h3 {
  font-size: 28px;
}

p {
  font-size: 18px;
  margin: 10px 0 10px 0;
}

.movie-list-container {
  background-color: #f4f4f8;
  margin: 10px 20px 10px 0;
  padding: 20px;
  border-radius: 6px;
  align-self: start;
}

.nom-list-container {
  background-color: #f4f4f8;
  margin: 10px 0 10px 20px;
  padding: 20px;
  border-radius: 6px;
  align-self: start;
}

.coral-button {
  background-color: #fe4a49;
  color: white;
}

.navy-button {
  background-color: #002366;
  color: white;
}

.underline {
  border-top: 1px solid #808080;
  padding-top: 25px;
}

input.form-control:focus {
  border: 0;
  outline: 0;
  color: #fe4a49;
  box-shadow: none !important;
}

.stars {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.stars p {
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 700;
  margin-top: 0;
}

.moviePoster {
  object-fit: cover;
  width: 125px;
  height: 200px;
  border-radius: 5px;
}

.banner {
  background-color: #fe4a49;
  padding: 8px;
  border-radius: 6px;
}

@media only screen and (max-width: 500px) {
  .stars {
    margin-left: 125px;
  }

  .nom-list-container {
    margin-left: 0;
    order: -1;
  }

  .movie-list-container {
    margin-right: 0;
  }

  .poster-img-div,
  .single-movie-text-div {
    text-align: center;
    justify-content: center;
  }

  h2 {
    text-align: center;
    font-size: 30px;
  }

  .header {
    justify-content: center;
  }
}

@media only screen and (min-width: 320px) and (max-width: 499px) {
  .stars {
    margin-left: 70px;
  }
}
